python-dotenv
fastapi
selenium
beautifulsoup4
langchain
langchain_community
langchain-cli
langchain-google-genai
langchain_qdrant
langserve
qdrant-client
google-generativeai
pypdf
pdfminer.six
ragas
datasets